<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">About This Project</h1>
</div>


<div class="pt-3">
    <p>This project is built using a stack of modern technologies to deliver a powerful and scalable web application.
        Below are the key technologies used:</p>

    <ul>
        <li><strong>Node.js</strong>: A JavaScript runtime built on Chrome's V8 engine, allowing developers to create
            fast and scalable server-side applications using JavaScript.</li>

        <li><strong>Express.js</strong>: A minimalistic web framework for Node.js that simplifies routing, middleware
            integration, and other web development tasks, making it easier to build robust web applications.</li>

        <li><strong>MongoDB</strong>: A NoSQL database that stores data in JSON-like documents, providing flexibility
            and scalability for handling large datasets.</li>

        <li><strong>Bootstrap</strong>: A popular front-end framework that helps design responsive and mobile-first
            websites with ease, thanks to its extensive collection of pre-designed components and styles.</li>
    </ul>

    <p>These technologies together provide a solid foundation for developing modern web applications with a focus on
        performance, scalability, and user experience.</p>

</div>